<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/dinas">Sipartoba</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/dinas">Dashboard</a></li>
            <li class="active"><a href="/request/wisata">Kelola Wisata</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
 
    <div class="container-fluid">
    <div class="row">
    	<div class="col-sm-3 col-md-2 sidebar">
    	  <ul class="nav nav-sidebar">
            <li class="active"><a href="/request/wisata">Daftar Request <span class="sr-only">(current)</span></a></li>
            <li><a href="/accepted/wisata">Daftar Accepted</a></li>
            <li><a href="/reject/wisata">Daftar Rejected</a></li>
          </ul>
    	</div>
    	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Daftar Request Wisata</h1>
    		<ul class="nav nav-tabs">
		   		<li  class="active" >
		   			<a href="#tab1" data-toggle="tab">
		   				Alam
		   			</a>
		   		</li>
		   		<li>
		   			<a href="#tab2" data-toggle="tab">
		   				Religi
		   			</a>
		   		</li>
		   		<li>
		   			<a href="#tab3" data-toggle="tab">
		   				Budaya
		   			</a>
		   		</li>
		   		<li>
		   			<a href="#tab4" data-toggle="tab">
		   				Pendidikan
		   			</a>
		   		</li>
		   		<li>
		   			<a href="#tab5" data-toggle="tab">
		   				Belanja
		   			</a>
		   		</li>
   			</ul>
   		<div class="tab-content">
   		
   		<!-- ########################## Content Wisata Alam ##############################-->
   		
           <div class="tab-pane fade in active" id="tab1">
      
     		<table class="table table-striped">
	            <tr>
	                <th> Nama Wisata</th>
	                <th> Alamat</th>
	                <th> Kontak Vendor</th>
	                <th> Nama Vendor</th>
	                <th> Kategori</th>
	                <th> Status</th>
	                <th> Konfirmasi</th>
	                <th> Aksi</th>
            	</tr>
	            <tr th:each="r:${wisataA}">
	                <td th:text="${r.nama}"></td>
					<td th:text="${r.alamat}"></td>
					<td th:text="${r.telp}"></td>
					<td th:text="${r.nama_vendor}"></td>
					<td th:text="${r.nama_kategori}"></td>
					<td th:text="${r.status}"></td> 
					<td th:switch="${r.status}">
						<div th:case="Accepted" style="color: green;">&#9745;</div>
						<div th:case="Rejected" style="color: #EC1717;" class="glyphicon glyphicon-remove-circle"></div>
						<div th:case="Request">
							<a th:href="${'/updateWisata/'+r.id}" class="checkbox">Accepted</a>
							<a th:href="${'/updateWisataIgnore/'+r.id}" class="checkbox">Rejected</a>
						</div>
					</td>
	                	
	                <td>
	                	<a th:href="${'/wisata/view/'+r.id}"><span class="glyphicon glyphicon-eye-open"> </span></a>
	                    <a th:href="${'/wisata/hapus/'+r.id}"><span class="glyphicon glyphicon-remove"> </span></a>
	
	                </td>
	            </tr>
        	</table>
        
  			<!-- ########################### Jika data tidak ada ################### -->
  			
   		 	<div th:if="${#lists.isEmpty(wisataA)}">
				<h3 class="center">Tidak ada request</h3>
			</div> 
			 
    	</div>
    	<!-- ##################### End Content Wisata Alam ############################ -->
    	
    	<!-- ##################### Content Wisata Religi ############################ -->
    	<div class="tab-pane fade" id="tab2">
           	<table class="table table-striped">
	            <tr>	
	                <th> Nama Wisata</th>
	                <th> Alamat</th>
	                <th> Kontak Vendor</th>
	                <th> Nama Vendor</th>
	                <th> Kategori</th>
	                <th> Status</th>
	                <th> Konfirmasi</th>
	                <th> Aksi</th>
	            </tr>
	            <tr th:each="r:${wisataRe}">
	                <td th:text="${r.nama}"></td>
					<td th:text="${r.alamat}"></td>
					<td th:text="${r.telp}"></td>
					<td th:text="${r.nama_vendor}"></td>
					<td th:text="${r.nama_kategori}"></td>
					<td th:text="${r.status}"></td> 
					<td th:switch="${r.status}">
						<div th:case="Accepted" style="color: green;">&#9745;</div>
						<div th:case="Rejected" style="color: #EC1717;" class="glyphicon glyphicon-remove-circle"></div>
						<div th:case="Request">
							<a th:href="${'/updateWisata/'+r.id}" class="checkbox">Accepted</a>
							<a th:href="${'/updateWisataIgnore/'+r.id}" class="checkbox">Rejected</a>
						</div>
					</td>
	                	
	                <td>
	                	<a th:href="${'/wisata/view/'+r.id}"><span class="glyphicon glyphicon-eye-open"> </span></a>
	                    <a th:href="${'/wisata/hapus/'+r.id}"><span class="glyphicon glyphicon-remove"> </span></a>
	
	                </td>
	            </tr>
        	</table>
        
  			<!-- ########################### Jika data tidak ada ################### -->
   		 	<div th:if="${#lists.isEmpty(wisataRe)}">
				<h3 class="center">Tidak ada request</h3>
			</div>  
			
    	 </div>
    	
    	<!-- ############################### End content wisata religi ########################################### -->
    	
    	<!-- ##################### Content Wisata Budaya ############################ -->
    	<div class="tab-pane fade" id="tab3">
           	<table class="table table-striped">
	            <tr>	
	                <th> Nama Wisata</th>
	                <th> Alamat</th>
	                <th> Kontak Vendor</th>
	                <th> Nama Vendor</th>
	                <th> Kategori</th>
	                <th> Status</th>
	                <th> Konfirmasi</th>
	                <th> Aksi</th>
	            </tr>
	            <tr th:each="r:${wisataB}">
	                <td th:text="${r.nama}"></td>
					<td th:text="${r.alamat}"></td>
					<td th:text="${r.telp}"></td>
					<td th:text="${r.nama_vendor}"></td>
					<td th:text="${r.nama_kategori}"></td>
					<td th:text="${r.status}"></td> 
					<td th:switch="${r.status}">
						<div th:case="Accepted" style="color: green;">&#9745;</div>
						<div th:case="Rejected" style="color: #EC1717;" class="glyphicon glyphicon-remove-circle"></div>
						<div th:case="Request">
							<a th:href="${'/updateWisata/'+r.id}" class="checkbox">Accepted</a>
							<a th:href="${'/updateWisataIgnore/'+r.id}" class="checkbox">Rejected</a>
						</div>
					</td>
	                	
	                <td>
	                	<a th:href="${'/wisata/view/'+r.id}"><span class="glyphicon glyphicon-eye-open"> </span></a>
	                    <a th:href="${'/wisata/hapus/'+r.id}"><span class="glyphicon glyphicon-remove"> </span></a>
	
	                </td>
	            </tr>
        	</table>
        
  			<!-- ########################### Jika data tidak ada ################### -->
   		 	<div th:if="${#lists.isEmpty(wisataB)}">
				<h3 class="center">Tidak ada request</h3>
			</div>  
			
    	 </div>
    	
    	<!-- ############################### End content wisata budaya ########################################### -->
    	
    	<!-- ##################### Content Wisata pendidikan ############################ -->
    	<div class="tab-pane fade" id="tab4">
           	<table class="table table-striped">
	            <tr>	
	                <th> Nama Wisata</th>
	                <th> Alamat</th>
	                <th> Kontak Vendor</th>
	                <th> Nama Vendor</th>
	                <th> Kategori</th>
	                <th> Status</th>
	                <th> Konfirmasi</th>
	                <th> Aksi</th>
	            </tr>
	            <tr th:each="r:${wisataP}">
	                <td th:text="${r.nama}"></td>
					<td th:text="${r.alamat}"></td>
					<td th:text="${r.telp}"></td>
					<td th:text="${r.nama_vendor}"></td>
					<td th:text="${r.nama_kategori}"></td>
					<td th:text="${r.status}"></td> 
					<td th:switch="${r.status}">
						<div th:case="Accepted" style="color: green;">&#9745;</div>
						<div th:case="Rejected" style="color: #EC1717;" class="glyphicon glyphicon-remove-circle"></div>
						<div th:case="Request">
							<a th:href="${'/updateWisata/'+r.id}" class="checkbox">Accepted</a>
							<a th:href="${'/updateWisataIgnore/'+r.id}" class="checkbox">Rejected</a>
						</div>
					</td>
	                	
	                <td>
	                	<a th:href="${'/wisata/view/'+r.id}"><span class="glyphicon glyphicon-eye-open"> </span></a>
	                    <a th:href="${'/wisata/hapus/'+r.id}"><span class="glyphicon glyphicon-remove"> </span></a>
	
	                </td>
	            </tr>
        	</table>
        
  			<!-- ########################### Jika data tidak ada ################### -->
   		 	<div th:if="${#lists.isEmpty(wisataP)}">
				<h3 class="center">Tidak ada request</h3>
			</div>  
			
    	 </div>
    	
    	<!-- ############################### End content wisata pendidikan ########################################### -->

    	<!-- ##################### Content Wisata Belanja ############################ -->
    	<div class="tab-pane fade" id="tab5">
           	<table class="table table-striped">
	            <tr>	
	                <th> Nama Wisata</th>
	                <th> Alamat</th>
	                <th> Kontak Vendor</th>
	                <th> Nama Vendor</th>
	                <th> Kategori</th>
	                <th> Status</th>
	                <th> Konfirmasi</th>
	                <th> Aksi</th>
	            </tr>
	            <tr th:each="r:${wisataBe}">
	                <td th:text="${r.nama}"></td>
					<td th:text="${r.alamat}"></td>
					<td th:text="${r.telp}"></td>
					<td th:text="${r.nama_vendor}"></td>
					<td th:text="${r.nama_kategori}"></td>
					<td th:text="${r.status}"></td> 
					<td th:switch="${r.status}">
						<div th:case="Accepted" style="color: green;">&#9745;</div>
						<div th:case="Rejected" style="color: #EC1717;" class="glyphicon glyphicon-remove-circle"></div>
						<div th:case="Request">
							<a th:href="${'/updateWisata/'+r.id}" class="checkbox">Accepted</a>
							<a th:href="${'/updateWisataIgnore/'+r.id}" class="checkbox">Rejected</a>
						</div>
					</td>
	                	
	                <td>
	                	<a th:href="${'/wisata/view/'+r.id}"><span class="glyphicon glyphicon-eye-open"> </span></a>
	                    <a th:href="${'/wisata/hapus/'+r.id}"><span class="glyphicon glyphicon-remove"> </span></a>
	
	                </td>
	            </tr>
        	</table>
        
  			<!-- ########################### Jika data tidak ada ################### -->
   		 	<div th:if="${#lists.isEmpty(wisatBe)}">
				<h3 class="center">Tidak ada request</h3>
			</div>  
			
    	 </div>
    	
    	<!-- ############################### End content wisata Belanja ########################################### -->

       </div> <!-- End content navbar tab -->
   	
   	</div>
   	    	
  </div>
   
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    

  </body>
</html>
