<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    <link rel="stylesheet" th:href="@{/js/datatables/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">

    <title>Sipartoba</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
	
	<!-- Pop up CSS -->
	<link th:href="@{/css/popup.css}" rel="stylesheet" media="screen" />
	
    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- Chart JS -->
	<script th:src="@{/js/chart.js}"></script> 
	  
   	<script th:line="javascript">
   		var laki =[];
   		var perem =[];
   	</script>
   	
   	<script th:line="javascript">
  		var dalams =[];
   		var luars =[];
   		var tahuns=[];
   	</script>   	

   	
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sipartoba</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" th:each="d:${data}">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="/request/wisata">Daftar Wisata <span class="badge" th:text="${d.request}"></span></a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

 
    <div class="container">
    
    	<div class="starter-template">
    		<h1>Halaman Dinas Pariwisata</h1>
    	</div>     
    	
    	<h3 class="page-header">Data Statistik Wisatawan</h3>
		<!-- =================================== CHART ========================================= -->
			<div class="row">
				<div class="col-sm-8">
					<canvas id="line-chart"></canvas>	
				</div>
				<div class="col-sm-4">
					<canvas id="pie-chart"></canvas>
				</div>
			</div>					
			
		<!-- ============================================== Script Chart ====================================== -->
		
	
		<p th:each="data :${chart}">
			<script th:inline="javascript">
				/*<![CDATA[*/
					var a = [[${data.dalam}]];
					var b = [[${data.luar}]];
					var c = [[${data.tahun}]];
					/*]]>*/
					dalams.push(a);
					luars.push(b);
					tahuns.push(c);
			</script>
		</p>
		
		<p th:each="data :${pie}">
			<script th:inline="javascript">
				/*<![CDATA[*/
					var a = [[${data.lk}]];
					var b = [[${data.pr}]];

					/*]]>*/
					laki.push(a);
					perem.push(b);

			</script>
		</p>

		
<!-- ======================================================================END CHART ==================================== -->				
			
		
         <!-- ===============================================TABLE ========================================= -->
            <div class="box-body" style="margin-top:35px">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                   <th> Nama Wisatawan</th>
                    <th> Alamat</th>
                    <th> Email</th>
                    <th> Jenis Kelamin</th>
                    <th> Country</th>
                </tr>
                </thead>
                <tbody>
   					<tr th:each="wisatawans:${wisatawan}">
		                <td th:text="${wisatawans.nama_wisatawan}"></td>
						<td th:text="${wisatawans.alamat}"></td>
						<td th:text="${wisatawans.email}"></td>
						<td th:text="${wisatawans.gender}"></td>
						<td th:text="${wisatawans.country}"></td>
		            </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
    	
    	
    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    

<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>


  </body>
  
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>  
  
  <script type="text/javascript">
  new Chart(document.getElementById("pie-chart"), {
	    type: 'pie',
	    data: {
	      labels: ["Laki-laki", "Perempuan"],
	      datasets: [{
	        label: "Population (millions)",
	        backgroundColor: ["#3E95CD","#E8C3B9"],
	        data: [laki, perem]
	      }]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'Data statistik wisatawan berdasarkan jenis kelamin'
	      }
	    }
	});
  </script>
  
	
	<script type="text/javascript">
		new Chart(document.getElementById("line-chart"), {
		  type: 'line',
		  data: {
		    labels: tahuns,
		    datasets: [{ 
		        data: dalams,
		        label: "Dalam Negeri",
		        borderColor: "#4BCAF5",
		        fill: false
		      },{ 
			        data: luars,
			        label: "Luar Negeri",
			        borderColor: "#FACF25",
			        fill: false
			      }
		    ]
		  },
		  options: {
		    title: {
		      display: true,
		      text: 'Data Review Wisata dari Tahun ke tahun'
		    }
		  }
		});	
	</script>
  

</html>
