<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">
    
    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
      <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
    </style> 
    
  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/dinas">Sipartoba</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" th:each="d :${data}">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/dinas">Dashboard</a></li>
            <li class="active"><a href="/request/wisata" class="active">Kelola Wisata <span class="badge" th:text="${d.request}"></span></a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
 
    <div class="container">
    
    <div class="row">

    	<div class="col-sm-12 col-md-12 " style="margin-left:30px; margin-right:30px">
    	<div th:each="wisatas:${wisata}">
    		 <h1>Detail</h1> 
    		 <h1 class="page-header" th:text="${wisatas.nama}"></h1>
    	</div>
         
    
        <table class="table table-striped">
            <tbody th:each="r:${wisata}">
           		<tr>
            		<th>Gambar</th>
            		<td>:</td>
            		<td><img th:src="${'/images/gambar/'+r.gambar}" width="250" height="250" alt="" /></td>
            	</tr> 
            	<tr>
            		<th>Nama Wisata</th>
            		<td>:</td>
            		<td th:text="${r.nama}"></td>
            	</tr>
            	<tr>
            		<th>Alamat</th>
            		<td>:</td>
            		<td th:text="${r.alamat}"></td>
            	</tr>
            	<tr>
            		<th>Kontak Vendor</th>
            		<td>:</td>
            		<td th:text="${r.telp}"></td>
            	</tr>
            	<tr>
            		<th>Nama Vendor</th>
            		<td>:</td>
            		<td th:text="${r.nama_vendor}"></td>
            	</tr>
            	<tr>
            		<th>Kategori</th>
            		<td>:</td>
            		<td th:text="${r.nama_kategori}"></td>
            	</tr>
            	<tr>
            		<th>Status</th>
            		<td>:</td>
            		<td th:switch="${r.status}">
							<div th:case="Accepted" ><span class="label label-success">Accepted</span></div>
							<div th:case="Rejected"><span class="label label-danger">Rejected</span></div>
							<div th:case="Disabled"><span class="label label-default">Disabled</span></div>
						<div th:case="Request">
								<a th:href="${'/updateWisata/'+r.id}" class="btn btn-primary btn-sm">Accept</a>
								<a th:href="${'/updateWisataIgnore/'+r.id}" class="btn btn-warning btn-sm">Reject</a>
						</div>
            		</td>
            	</tr>
            </tbody>            
        </table>
        
  
   		 <div th:if="${#lists.isEmpty(wisata)}">
				<h3 class="center">Tidak ada request</h3>
			</div>

	<!-- ================================================================================== KOMENTAR -->
	
			          <!-- Box Comment -->
			          <div class="box box-widget">
			            <div class="box-header with-border">
			              <div class="user-block">
			                <span><h4 style="color:blue">Komentar</h4></span>
			                <!-- <span class="description">Shared publicly - 7:30 PM Today</span> -->
			              </div>
			              <!-- /.user-block -->
			              <div class="box-tools">
			                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			                </button>
			              </div>
			              <!-- /.box-tools -->
			            </div>
			            <div class="box-footer box-comments">
			              <div class="box-comment" th:each="k:${datas}">
			                <!-- User image -->
			                <img class="img-circle img-sm" th:src="@{/dist/img/user3-128x128.jpg}" alt="User Image">

			                <div class="comment-text">
			                      <span class="username">
			                        <p th:text="${k.nama_reviewer}"></p>
			                        <span class="text-muted pull-right"><p th:text="${k.tgl_review}"></p></span>
			                      </span><!-- /.username -->
								<p th:text="${k.komentar}"></p>
								<span class="text-muted pull-right"><a data-toggle="modal" data-target="#squarespaceModal" class="btn btn-default btn-sm" >Hapus</a></p></span>
			                      </span>
			                      
		                	 <!-- ============================================================= Modals -->
 			       
						        <div class="modal modal-warning" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                  			<span aria-hidden="true">&times;</span></button>
											</div>
											
											<div class="modal-body">
												<h3>Apakah anda yakin menghapus komentar ini? &hellip;</h3>
											</div>
							              <div class="modal-footer">
							                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
							                <a th:href="${'/hapus/komentar/'+k.id_review}" type="button" class="btn btn-outline">Hapus</a>
							              </div>									
										</div>
									</div>
								</div><!-- End modal --> 								
			                </div>
			                <!-- /.comment-text -->
			              </div>
			              <!-- /.box-comment -->
			            </div>
			            <!-- /.box-footer -->
			            
			         <!-- =============================================================================================== FORM ADD KOMENTAR -->   
			            <div class="box-footer">
			              <form th:object="${komentar}" th:action="@{/add-komentar}" method="post">
					    	<input type="hidden" th:field="*{id_review}"/>
					    	<input type="hidden" name="nama" th:value=${nama}>
			                <img class="img-responsive img-circle img-sm" th:src="@{/dist/img/user4-128x128.jpg}" alt="Alt Text">
			                <!-- .img-push is used to add margin to elements next to floating images -->
			                <div class="img-push">
			                  <input type="text" th:field="*{komentar}" class="form-control input-sm" placeholder="Press enter to post comment">
			                </div>
			              </form>
			            </div>
			            <!-- /.box-footer -->
			          </div>
			          <!-- /.box -->

			       

<!-- ================================================================================================== end form komentar -->						     			
			        	
    	</div>


  			
  </div>
   
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    
    
   <!-- jQuery 2.2.3 -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>  
  
  </body>
</html>
