<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    <link rel="stylesheet" th:href="@{/js/datatables/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">

    <title>Sipartoba</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
	
	<!-- Pop up CSS -->
	<link th:href="@{/css/popup.css}" rel="stylesheet" media="screen" />
	
    <!-- Custom styles for this template -->
    <link th:href="@{/css/starter-template.css}" rel="stylesheet" media="screen" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
    </style>    
   
<!-- Chart JS -->
	<script th:src="@{/js/chart.js}"></script> 
	  
   	<script th:line="javascript">
   		var tahuns =[];
   		var acc =[];
   		var rej =[];
   		var dis =[];
   	</script>
   	
   	<script th:line="javascript">
   		var accept =[];
   		var reject =[];
   	</script> 
   	   	 
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sipartoba</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" th:each="d :${pieChart}">
          <ul class="nav navbar-nav">
            <li ><a href="/home/dinas">Home</a></li>
            <li class="active"><a href="/request/wisata">Kelola Wisata <span class="badge" th:text="${d.request}"></span></a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
 
    <div class="container">
		    		
        <h1 class="page-header">Data Lengkap Wisata</h1>
       		      
        
		<!-- =================================== CHART ========================================= -->
			<div class="row">
				<div class="col-sm-8">
					<canvas id="bar-chart-grouped"></canvas>	
				</div>
				<div class="col-sm-4">
					<canvas id="pie-chart"></canvas>
				</div>
			</div>					
			
		<!-- ============================================== Script Chart ====================================== -->
		
		<p th:each="data :${lineChart}">
			<script th:inline="javascript">
				/*<![CDATA[*/
					var a = [[${data.tahun}]];
					var b = [[${data.accepted}]];
					var c = [[${data.rejected}]];
					var d = [[${data.disabled}]];
					/*]]>*/
					tahuns.push(a);
					acc.push(b);
					rej.push(c);
					dis.push(d);
			</script>
		</p>
		
		<p th:each="p :${pieChart}">
			<script th:inline="javascript">
				/*<![CDATA[*/
					var a = [[${p.accept}]];
					var b = [[${p.reject}]];
					/*]]>*/
					accept.push(a);
					reject.push(b);
			</script>
		</p>
		
<!-- ======================================================================END CHART ==================================== -->				
			
		
         <!-- ===============================================TABLE ========================================= -->
            <div class="box-body" style="margin-top:35px">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                   <th> Nama Wisata</th>
                    <th> Alamat</th>
                    <th> Nama Vendor</th>
                    <th> Tanggal Request</th>
                    <th> Konfirmasi</th>
                    <th> Aksi</th>
                </tr>
                </thead>
                <tbody>
   					<tr th:each="r:${wisata}">
		                <td th:text="${r.nama}"></td>
						<td th:text="${r.alamat}"></td>
						<td th:text="${r.nama_vendor}"></td>
						<td th:text="${r.tgl_request}"></td>
						<td th:switch="${r.status}">
							<div th:case="Accepted" ><span class="label label-success">Accepted</span></div>
							<div th:case="Rejected"><span class="label label-danger">Rejected</span></div>
							<div th:case="Disabled"><span class="label label-default">Disabled</span></div>
							<div th:case="Request">
								<a th:href="${'/updateWisata/'+r.id}" class="btn btn-primary btn-sm">Accept</a>
								<a th:href="${'/updateWisataIgnore/'+r.id}" class="btn btn-warning btn-sm">Reject</a>
							</div>
						</td>
		                	
		                <td th:switch="${r.status}">
		                	<div th:case="Accepted">
		                	<a th:href="${'/wisata/view/'+r.id}" class="btn btn-default btn-sm">Detail</a>
		                    <a data-toggle="modal" data-target="#squarespaceModal" class="btn btn-danger btn-sm">Disable</a>
		                	</div>
		                	
		                	<div th:case="Request">
		                	<a th:href="${'/wisata/view/'+r.id}" class="btn btn-default btn-sm">Detail</a>
		                    <a data-toggle="modal" data-target="#squarespaceModal" class="btn btn-danger btn-sm">Disable</a>
		                	</div>
		                		
		                	<div th:case="Rejected">
		                	<a th:href="${'/wisata/view/'+r.id}" class="btn btn-default btn-sm">Detail</a>
		                	</div>
		                			                		                	
		                	<div th:case="Disabled">
		                	<a th:href="${'/wisata/view/'+r.id}" class="btn btn-default btn-sm">Detail</a>
		                	</div>
		                	
		                	 <!-- ============================================================= Modals -->
 			       
						        <div class="modal modal-warning" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                  			<span aria-hidden="true">&times;</span></button>
											</div>
											
											<div class="modal-body">
												<h3>Apakah anda yakin disable wisata ini? &hellip;</h3>
											</div>
							              <div class="modal-footer">
							                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
							                <a th:href="${'/updateWisataDisable/'+r.id}" type="button" class="btn btn-outline">Disable</a>
							              </div>									
										</div>
									</div>
								</div><!-- End modal --> 
		                </td>
		            </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <th> Nama Wisata</th>
                    <th> Alamat</th>
                    <th> Nama Vendor</th>
                    <th> Tanggal Request</th>
                    <th> Konfirmasi</th>
                    <th> Aksi</th>
                    </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->

        		
  			<!-- ########################### Jika data tidak ada ################### -->
   		 	<div th:if="${#lists.isEmpty(wisata)}">
				<h3 class="center">Tidak ada ada</h3>
			</div>  
			

   	
   
    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    



<!-- Pop Up -->
<!-- <script th:src="@{/js/popup.js}"></script>
<script th:src="@{/js/window.js}"></script> -->

   <!-- jQuery 2.2.3 -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>  

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>

  </body>
  
  <script type="text/javascript">
  new Chart(document.getElementById("pie-chart"), {
	    type: 'pie',
	    data: {
	      labels: ["Accepted", "Rejected"],
	      datasets: [{
	        label: "Population (millions)",
	        backgroundColor: ["#3e95cd","#e8c3b9"],
	        data: [accept, reject]
	      }]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'Data Tempat Wisata berdasarkan status'
	      }
	    }
	});
  </script>
   
   	<script>
		new Chart(document.getElementById("bar-chart-grouped"), {
		    type: 'bar',
		    data: {
		      labels: tahuns,
		      datasets: [
		        {
		          label: "Accepted",
		          backgroundColor: "#3e95cd",
		          data: acc
		        }, {
		          label: "Rejected",
		          backgroundColor: "#8e5ea2",
		          data: rej
		        }, {
			      label: "Disabled",
			      backgroundColor: "#3cba9f",
		          data: dis
			    }
		      ]
		    },
		    options: {
		      title: {
		        display: true,
		        text: 'Data Tempat Wisata berdasarkan status setiap tahunnya'
		      }
		    }
		});
	</script> 
  

</html>
