	<!DOCTYPE html>
	<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>SiparToba</title>
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/linearicons.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/flaticon.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/font-awesome.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/bootstrap.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/magnific-popup.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/jquery-ui.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/nice-select.css}">							
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/animate.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/owl.carousel.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/owl.theme.default.min.css}">					
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/main.css}">
			<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">

			<!-- 
			JS	
			=========================================================================================== -->
			<script th:src="@{/js/login/jQuery.js}"></script>
			<script th:src="@{/js/login/bootstrap.min.js}"></script>
		</head>
		<body>	
			<header id="header">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="/home/wisatawan"><img th:src="@{/css/wisatawan/img/sipartoba.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/home/wisatawan">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="/wisata/all">Wisata</a></li>
				          <li><a href="/hot/wisata">Hot Tour</a></li>
				          <li><a href="/logout">Logout</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->



			<!-- ====================================================================================== start banner Area -->			
						  
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12" th:each="wisatas:${wisata}">
							<h1 class="text-white">
								Wisata
							</h1>	
							<p class="text-white link-nav"><a href="/home/wisatawan">Home </a><span class="lnr lnr-arrow-right"></span> 
						    <a href="/wisata/all">Tempat Wisata</a><span class="lnr lnr-arrow-right"></span>
						    <a th:href=@{/detail-wisata(id=${wisatas.id})}></a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	


<!-- ========================================================================================================== Detail Wisata -->
			
			<!-- Start home-about Area -->
			<section class="home-about-area" style="margin-top: 30px; margin-bottom: 30px">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end" th:each="r:${wisata}">
						<div class="col-lg-6 col-md-12 home-about-left">
						
<!-- ============================================================================================== Left side -->
						<div class="col-lg-12 d-flex flex-column address-wrap">
															
							<div class="contact-details">
								<h2 th:text="${r.nama}"></h2>
							</div>
							<br>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h4 th:text="${r.alamat}"></h4>
									<p>
										Alamat lengkap wisata
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-user"></span>
								</div>
								<div class="contact-details">
									<h4 th:text="${r.nama_vendor}"></h4>
									<p>Nama pengelola wisata</p>
								</div>
							</div>							
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h4 th:text="${r.telp}"></h4>
									<p>Kontak yang bisa dihubungi</p>
								</div>
							</div>													
						</div>
						
						</div>
<!-- ==============================================================Right side ====================================== -->						
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" th:src="${'/images/gambar/'+r.gambar}" alt="">
						</div>
					</div>

				</div>	
			</section>
			<!-- End home-about Area -->
	
			
			<section class="insurence-one-area section-gap">
				<div class="container">
<!-- ================================================================================== KOMENTAR -->
			        <div class="col-md-12">
			          <!-- Box Comment -->
			          <div class="box box-widget">
			            <div class="box-header with-border">
			              <div class="user-block">
			                <span><h4 style="color:blue">Komentar</h4></span>
			                <!-- <span class="description">Shared publicly - 7:30 PM Today</span> -->
			              </div>
			              <!-- /.user-block -->
			              <div class="box-tools">
			                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			                </button>
			              </div>
			              <!-- /.box-tools -->
			            </div>
			            <div class="box-footer box-comments">
			              <div class="box-comment" th:each="k:${data}">
			                <!-- User image -->
			                <img class="img-circle img-sm" th:src="@{/dist/img/user3-128x128.jpg}" alt="User Image">

			                <div class="comment-text">
			                      <span class="username">
			                        <p th:text="${k.nama_reviewer}"></p>
			                        <span class="text-muted pull-right"><p th:text="${k.tgl_review}"></p></span>
			                      </span><!-- /.username -->
								<p th:text="${k.komentar}"></p>
			                </div>
			                <!-- /.comment-text -->
			              </div>
			              <!-- /.box-comment -->
			            </div>
			            <!-- /.box-footer -->
			            
			         <!-- =============================================================================================== FORM ADD KOMENTAR -->   
			            <div class="box-footer">
			              <form th:object="${komentar}" th:action="@{/detail-wisata}" method="post">
					    	<input type="hidden" th:field="*{id_review}"/>
					    	<input type="hidden" name="nama" th:value=${nama}>
			                <img class="img-responsive img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
			                <!-- .img-push is used to add margin to elements next to floating images -->
			                <div class="img-push">
			                  <input type="text" th:field="*{komentar}" class="form-control input-sm" placeholder="Press enter to post comment">
			                </div>
			              </form>
			            </div>
			            <!-- /.box-footer -->
			          </div>
			          <!-- /.box -->
			        </div>
			        <!-- /.col -->

<!-- ================================================================================================== end form komentar -->			
				</div>
			</section>
			
			
			<!-- ============================================================================================== start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Sipartoba <i class="fa fa-heart-o" aria-hidden="true"></i> PSI <a href="" target="_blank">11</a>

					</div>
				</div>
			</footer>
			<!-- End footer Area -->			

			<script th:src="@{/css/wisatawan/js/vendor/jquery-2.2.4.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/popper.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/vendor/bootstrap.min.js}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script th:src="@{/css/wisatawan/js/jquery-ui.js}"></script>					
  			<script th:src="@{/css/wisatawan/js/easing.min.js}"></script>			
			<script th:src="@{/css/wisatawan/js/hoverIntent.js}"></script>
			<script th:src="@{/css/wisatawan/js/superfish.min.js}"></script>	
			<script th:src="@{/css/wisatawan/js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/jquery.magnific-popup.min.js}"></script>						
			<script th:src="@{/css/wisatawan/js/jquery.nice-select.min.js}"></script>					
			<script th:src="@{/css/wisatawan/js/owl.carousel.min.js}"></script>							
			<script th:src="@{/css/wisatawan/js/mail-script.js}"></script>	
			<script th:src="@{/css/wisatawan/js/main.js}"></script>	
			
    <!-- jQuery 2.2.3 -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/app.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>
				
		</body>
	</html>