	<!DOCTYPE html>
	<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>SiparToba</title>
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/linearicons.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/font-awesome.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/bootstrap.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/magnific-popup.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/jquery-ui.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/nice-select.css}">							
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/animate.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/owl.carousel.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/main.css}">
			

			<!-- 
			JS	
			============================================= -->
			<script src="js/login/jQuery.js"></script>
			<script src="js/login/bootstrap.min.js"></script>
		</head>
		<body>	
			<header id="header">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="/home/wisatawan"><img th:src="@{/css/wisatawan/img/sipartoba.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/home/wisatawan">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="/wisata/all">Wisata </a></li>
				          <li><a href="/hot/wisata">Hot Tour</a></li>
				          <li><a href="/logout">Logout</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->


			<!-- =========================================================================================================== start banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>				
				<div class="container">

					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<h3 class="text-white">Sistem Informasi Pariwisata</h3>
							<h1 class="text-white">Toba Samosir</h1>
							
						</div>
					</div>
				</div>					
			</section>
			<!-- End banner Area -->


			<!-- =============================================================================================================== Start Popular -->
			<section class="recent-blog-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-9">
							<div class="title text-center">
								 <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day.</p>
							</div>
						</div>
					</div>							
					<div class="row">
						<div class="active-recent-blog-carusel">
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d1.jpg" alt="">
								</div>
								<div class="desc">		
									<h4>Dream City</h4>		
								</div>
							</div>
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d2.jpg" alt="">
								</div>
								<div class="desc">		
									<h4>Dream City</h4>		
								</div>								
							</div>
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d3.jpg" alt="">
								</div>
								<div class="desc">		
									<h4>Dream City</h4>		
								</div>								
							</div>	
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d1.jpg" alt="">
								</div>
								<div class="desc">		
									<h4>Dream City</h4>		
								</div>									
							</div>
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d2.jpg" alt="">
								</div>
								<div class="desc">			
									<h4>Dream City</h4>		
								</div>								
							</div>
							<div class="single-destination relative">
								<div class="thumb relative">
									<img class="img-fluid" src="css/wisatawan/img/d3.jpg" alt="">
								</div>
								<div class="desc">	
									<h4>Dream City</h4>		
								</div>								
							</div>														

						</div>
					</div>
				</div>	
			</section>
			<!-- End recent-blog Area -->			

			<!-- ============================================================================================== start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Sipartoba <i class="fa fa-heart-o" aria-hidden="true"></i> PSI <a href="" target="_blank">11</a>

					</div>
				</div>
			</footer>
			<!-- End footer Area -->	
			

<!-- ====================================================================================================== JavaScript -->

			<script th:src="@{/css/wisatawan/js/vendor/jquery-2.2.4.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/popper.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/vendor/bootstrap.min.js}"></script>			
 			<script th:src="@{/css/wisatawan/js/jquery-ui.js}"></script>					
  			<script th:src="@{/css/wisatawan/js/easing.min.js}"></script>			
			<script th:src="@{/css/wisatawan/js/hoverIntent.js}"></script>
			<script th:src="@{/css/wisatawan/js/superfish.min.js}"></script>	
			<script th:src="@{/css/wisatawan/js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/jquery.magnific-popup.min.js}"></script>						
			<script th:src="@{/css/wisatawan/js/jquery.nice-select.min.js}"></script>					
			<script th:src="@{/css/wisatawan/js/owl.carousel.min.js}"></script>							
			<script th:src="@{/css/wisatawan/js/mail-script.js}"></script>	
			<script th:src="@{/css/wisatawan/js/main.js}"></script>		
		</body>
	</html>