	<!DOCTYPE html>
	<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>SiparToba</title>
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/css/wisatawan/css/linearicons.css">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/font-awesome.min.css}">
			<link rel="stylesheet" href="/css/wisatawan/css/bootstrap.css">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/magnific-popup.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/jquery-ui.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/nice-select.css}">							
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/animate.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/owl.carousel.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/main.css}">
			

			<!-- 
			JS	
			=========================================================================================== -->
			<script th:src="@{/js/login/jQuery.js}"></script>
			<script th:src="@{/js/login/bootstrap.min.js}"></script>
		</head>
		<body>	
			<header id="header">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="/home/wisatawan"><img th:src="@{/css/wisatawan/img/sipartoba.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/home/wisatawan">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="/wisata/all">Wisata</a></li>
				          <li><a href="/hot/wisata">Hot Tour</a></li>
				          <li><a href="/logout">Logout</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->


			<!-- ====================================================================================== start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Wisata				
							</h1>	
							<p class="text-white link-nav"><a href="/home/wisatawan">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="insurance.html"> Wisata</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	



<!-- ========================================================================================================= Section wisata -->			

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
						<div class="col-lg-4" th:each="r:${wisata}">
							<div class="single-destinations">
								<div class="thumb">
									<img th:src="${'/images/gambar/'+r.gambar}" width="360" height="211">
								</div>
								<div class="details">
									<h4 th:text="${r.nama}"></h4>
									<p th:text="${r.alamat}"></p>
									
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Nama Pengelola</span>
											<span th:text="${r.nama_vendor}"></span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Nomor Telepon</span>
											<span th:text="${r.telp}"></span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Kategori Wisata</span>
											<span th:text="${r.nama_kategori}"></span>
										</li>
										<li>
											<span></span>
											<span><a th:href=@{/detail-wisata(id=${r.id})}><span class="pull right">Mores...</span></a></span>
										</li>												
									</ul>
								</div>
							</div>
						</div><!--end-->
		            </div>
		         </div>
		     </section>       
<!-- ========================================================================================== END SECTION=============== -->
	
						
			<!-- ============================================================================================== start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Sipartoba <i class="fa fa-heart-o" aria-hidden="true"></i> PSI <a href="" target="_blank">11</a>

					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script th:src="@{/css/wisatawan/js/vendor/jquery-2.2.4.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/popper.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/vendor/bootstrap.min.js}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script th:src="@{/css/wisatawan/js/jquery-ui.js}"></script>					
  			<script th:src="@{/css/wisatawan/js/easing.min.js}"></script>			
			<script th:src="@{/css/wisatawan/js/hoverIntent.js}"></script>
			<script th:src="@{/css/wisatawan/js/superfish.min.js}"></script>	
			<script th:src="@{/css/wisatawan/js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/jquery.magnific-popup.min.js}"></script>						
			<script th:src="@{/css/wisatawan/js/jquery.nice-select.min.js}"></script>					
			<script th:src="@{/css/wisatawan/js/owl.carousel.min.js}"></script>							
			<script th:src="@{/css/wisatawan/js/mail-script.js}"></script>	
			<script th:src="@{/css/wisatawan/js/main.js}"></script>	
		</body>
	</html>