@import url(/fonts/font1.css);

@import url(/fonts/font3.css);

@import url(/fonts/font4.css);

@import url(/fonts/font2.css);

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body {
	position: absolute;
	top: -10px;
	left: -20px;
	right: -40px;
	bottom: -20px;
	width: auto;
	height: auto;
	background-image: url(/images/travel.jpg);
	background-size: 100%;
	-webkit-filter: blur(1px);
	z-index: 0;
}

.label_or {
	font-size: 15px;
	line-height: 30px;
	margin-right: 8rem;
}

.grad {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	/* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header {
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.red {
	font-family: 'Oleo Script', cursive;
	color: #000080;
	font-size: 40px;
	margin-left: 20px;
}

.blue {
	font-family: 'Oleo Script', cursive;
	color: #000080;
	font-size: 50px;
	margin-left: 100px;
}

.header div {
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span {
	color: #004080 !important;
}

.login {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.form-select {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	width: 50%;
	transition: all 0.3s;
	color: #526475;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #d1e1e8;
	border-radius: 5px;
	outline: 0px;
	box-sizing: border-box;
	padding-top: 6px;
	height: 40px;
	background-color: #ffffff;
}

.form-select:focus {
	border: 1px solid #09a0f6;
}

.login input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.form-select {
	margin-left: 30px;
}

.label_reg {
	font-size: 16px;
}

.register_a {
	font-size: 16px;
	cursor: pointer;
}

.login input[type=button]:hover {
	opacity: 0.8;
}

.login input[type=button]:active {
	opacity: 0.6;
}

.login input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}