*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
background-image:url(/images/bg.gif);
background-position:top left;
background-repeat:repeat-x;
}

*{margin: 0; padding: 0}
		fieldset{width: 400px; padding: 10px;}
		.kotak{border:1px solid grey; padding: 5px; margin:5px 0; overflow: hidden;}
		
body{
width:1000px;
margin:0 auto;
}
#header{
width:1000px;
overflow:hidden;
padding:14px 0 0 0;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#D8DCE0
}
.input{
width:112px;
height:14px;
background-image:url(/images/input_bg.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
padding:2px 8px;
margin:0 8px 0 0;
color:#0D0D0D;
float:left;
}
.enter{
background-position:top left;
background-repeat:no-repeat;
float:left;
width:63px;
height:29px;
text-align:center;
padding:2px 9px 0 0
}
#header .enter a{
color:#FEEEE4;
text-decoration:none;
padding:0 15px
}
.links a{
color:#D8DCE0;
padding:0 13px;
text-decoration:underline
}
.links a:visited{text-decoration:underline}
.links a:hover{text-decoration:none}
.login{
padding:0 0 0 450px;
float: left;
}
#menu{
padding:22px 0 16px 245px;
float:left;
list-style-type:none;
}
#menu li{
display:inline;
padding:0 13px;
line-height:20px;
}
#menu a{
color:#0D0D0D;
text-decoration:none;
}
#menu a:visited{text-decoration:none}
#menu a:hover{text-decoration:underline}
#wrapper{
width:956px;
overflow:hidden;
padding:0 0 54px 39px;
}
#sidebar{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:198px;
float:left;
}
.slogan{
color:#FFFFFF;
background-color:#A65019;
line-height:20px;
display:block;
float:left;
padding:0 7px;
}
.logo_block{
width:193px;
overflow:hidden;
float:left;
padding:0 0 49px 5px;
/ padding:0 0 53px 5px
}
.text1{
color:#858484;
width:145px;
display:block;
float:left;
padding:18px 0 10px 0;
background-image:url(/images/brick.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
#navigation{
padding:20px 0 0 0;
}
#navigation li{
list-style-type:none;
line-height:19px;
padding:0 0 0 8px;
}
#navigation a{
color:#363636;
text-decoration:none;
}
#navigation a:visited{text-decoration:none}
#navigation a:hover{text-decoration:underline}
.color{
background-image:url(/images/color.gif);
background-position:top left;
background-repeat:no-repeat;
}
#content{
background-image:url(/images/pic.jpg);
background-position:top left;
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
width:746px;
overflow:hideen;
float:left;
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
.search{
padding:104px 0 162px 533px;
color:#505051
}
.search input{
width:114px;
height:18px;
background-image:url(/images/search_bg.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
padding:2px 8px;
margin:0 0 0 8px;
color:#0D0D0D;
}
.bg{
width:740px;
background-image:url(/images/dash.gif);
background-position:top left;
background-repeat:repeat-y;
float:left;
overflow:hidden;
padding:0 0 5px 0
}
.column1{
width:465px;
padding:35px 50px 0 7px;
color:#333333;
float:left;
}
.column1 p{
display:block;
width:460px;
padding:20px 0 25px 3px
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}
#items{
padding:17px 0 0 5px;
width:450px;
float:left;
overflow:hidden;
}
.item{
width:201px;
float:left;
margin:0 15px 13px 0;
float:left;
}
.item img{float:left}
.item span{
background-image:url(/images/span_bg.gif);
background-position:top left;
background-repeat:no-repeat;
display:block;
float:left;
height:18px;
line-height:18px;
width:192px;
padding:0 0 0 9px;
}
.item a{
color:#FFFFFF;
text-decoration:none
}
.column2{
width:200px;
float:left;
padding:35px 0 0 10px
}
.news{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
padding:20px 0 0 0;
float:left;
overflow:hidden;
}
.news span{
color:#FFFFFF;
display:block;
float:left;
background-color:#91A711;
line-height:17px;
padding:0 11px 0 4px;
margin:0 0 10px 0;
}
.news p{
display:block;
float:left;
width:200px;
padding:0 0 5px 0;
}
.more{
display:block;
float:left;
color:#009EDC;
text-decoration:underline
}
.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
.news img{
padding:0 0 11px 0
}
#footer{
background-image:url(/images/footer_bg.gif);
background-position:top left;
background-repeat:repeat-x;
width:950px;
margin:0 auto;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
#footer li{
color:#E8E9E9;
display:inline;
list-style-type:none;
line-height:28px;
}
#footer li a{
color:#E8E9E9;
margin:0 10px;
text-decoration:none
}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}
#footer p{
line-height:46px;
padding:5px 0 0 0;
text-align:center;
color:#323232
}
#footer p a{
color:#254A73;
text-decoration:underline
}
#footer p a:visited{text-decoration:underline}
#footer p a:hover{text-decoration:none}
.info{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
padding:18px 0 12px 0
}
.button{
background-image:url(images/button_bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:71px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
text-decoration:none;
display:block;
padding:2px 0 3px 0
}
.tree{
margin:-30px 0 17px 0;
color:#333333
}
.tree a{
color:#333333;
text-decoration:underline;
}
.tree a:visited{text-decoration:underline}
.tree a:hover{text-decoration:none}
.gallery{
padding:20px 0 0 0;
}
.gallery div{
width:468px;
overflow:hidden;
float:left;
background-color:#d8dce0;
padding:11px 0 0 8px;
/ padding:11px 0 10px 8px;
}
.gallery div div{
float:left;
width:436px;
padding:0px 0 0 7px;
}
.gallery div img{
float:left;
}
.gallery div div img{
float:left;
margin:0 9px 10px 0
}
.arrow{
margin:40px 0 0 0;
display:block;
float:left;
}


#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
 
  padding: 0 13px;
  position: relative;
}
#cssmenu {
  
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
 
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color:#D8DCE0;
  padding:0 5px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li .has-sub :hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}

#cssmenu > ul > li.active > a {
  color: #FFFFFF;
}
#cssmenu > ul > li:hover > a {
  color: #FFFFFF;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  color:#FFFFFF;
  background: #0fa1e0;
  border-bottom: 1px dotted #6fc7ec;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #095c80;
}

