	<!DOCTYPE html>
	<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>SiparToba</title>

		<style>
		.alert {
		    padding: 20px;
		    background-color: #f44336;
		    color: white;
		}
		
		.closebtn {
		    margin-left: 15px;
		    color: white;
		    font-weight: bold;
		    float: right;
		    font-size: 22px;
		    line-height: 20px;
		    cursor: pointer;
		    transition: 0.3s;
		}
		
		.closebtn:hover {
		    color: black;
		}
		</style>
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/wisatawan/css/linearicons.css">
			<link rel="stylesheet" href="css/wisatawan/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/wisatawan/css/bootstrap.css">
			<link rel="stylesheet" href="css/wisatawan/css/magnific-popup.css">
			<link rel="stylesheet" href="css/wisatawan/css/jquery-ui.css">				
			<link rel="stylesheet" href="css/wisatawan/css/nice-select.css">							
			<link rel="stylesheet" href="css/wisatawan/css/animate.min.css">
			<link rel="stylesheet" href="css/wisatawan/css/owl.carousel.css">				
			<link rel="stylesheet" href="css/wisatawan/css/main.css">
			<link rel="stylesheet" href="css/wisatawan/css/style.css">
			<link rel="stylesheet" href="css/wisatawan/css/flaticon.css">
			

			<!-- 
			JS	
			============================================= -->
			<script src="js/login/jQuery.js"></script>
			<script src="js/login/bootstrap.min.js"></script>
		</head>
		<body>	
			<header id="header">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="css/wisatawan/img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="index.html">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="/wisata/all">Wisata</a></li>
				          <li><a href="hotels.html">Hot Tour</a></li>
				          <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->

           <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  	<h4 class="modal-title" id="myModalLabel">Form Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form th:action="@{/index}" method="post" class="form-horizontal">
                
		              	<div class="form-group">
		                  <label for="nama" class="col-sm-2 control-label">username</label>
		                  <div class="col-sm-10">
		                  <input type="text" class="form-control" name="username" required="Masukkan username anda" ></div>
		            	</div>
			            <div class="form-group">
			                  <label for="nama" class="col-sm-2 control-label">password</label>
			                  <div class="col-sm-10">
			                  <input type="password" class="form-control" name="password" required="Masukkan password anda" ></div>
			                  
			            </div>                  
		                <div class="modal-footer">
		                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                   <button type="submit" name="s"class="btn btn-primary">LOGIN</button>
		                </div>
                    </form>
                </div>
              </div>
            </div>
            </div>
            <!-- Modal -->		


			<!-- start banner Area -->
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>				
				<div class="container">
				
				<!-- =============================== Pesan jika username atau password salah ======================= -->
				<div class="col-lg-12 col-md-12">
					<div th:if="${Message}" class="alert"
			        role="alert" th:text=${Message}><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span></div>
				</div>
				
				<!-- =========================End ================================== -->
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<h3 class="text-white">Sistem Informasi Pariwisata</h3>
							<h1 class="text-white">Toba Samosir</h1>
							<p class="text-white">
								If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
							</p>
						</div>
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

		<div class="colorlib-tour colorlib-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<h2>Popular Destination</h2>
						<p>We love to tell our successful far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
			</div>
			<div class="tour-wrap">
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-1.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Athens, Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-2.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Thailand</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-3.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Philippines</h2>
						<span class="city">Lipa, Philippines</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-4.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-5.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-6.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-7.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
				<a href="#" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/tour-8.jpg);">
					</div>
					<span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
						<h2>Family Tour in Greece</h2>
						<span class="city">Athens, Greece</span>
						<span class="price">$450</span>
					</span>
				</a>
			</div>
		</div>
			

			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="css/wisatawan/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="css/wisatawan/js/popper.min.js"></script>
			<script src="css/wisatawan/js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="css/wisatawan/js/jquery-ui.js"></script>					
  			<script src="css/wisatawan/js/easing.min.js"></script>			
			<script src="css/wisatawan/js/hoverIntent.js"></script>
			<script src="css/wisatawan/js/superfish.min.js"></script>	
			<script src="css/wisatawan/js/jquery.ajaxchimp.min.js"></script>
			<script src="css/wisatawan/js/jquery.magnific-popup.min.js"></script>						
			<script src="css/wisatawan/js/jquery.nice-select.min.js"></script>					
			<script src="css/wisatawan/js/owl.carousel.min.js"></script>							
			<script src="css/wisatawan/js/mail-script.js"></script>	
			<script src="css/wisatawan/js/main.js"></script>	
			<script src="css/wisatawan/js/main.js"></script>	
			
		</body>
	</html>