<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>Confirmation Account</title>

<!-- Bootstrap core CSS -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />

<link th:href="@{css/signin.css}" rel="stylesheet" />
<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
	
</head>

<body class="gray-bg">

  <div class="container">
    <div>
 
      <div th:if="${successMessage}" class="alert alert-success"
        role="alert" th:text=${successMessage}></div>

      <div th:if="${errorMessage}" class="alert alert-danger"
        role="alert" th:text=${errorMessage}></div>
        
      <div th:if="${invalidToken}" class="alert alert-danger"
        role="alert" th:text=${invalidToken}></div>

      <div th:if="${hasbeenConfirm}" class="alert alert-danger"
        role="alert" th:text=${hasbeenConfirm}></div>
		<!--#################################### Start Form ####################################  -->
		
      <form th:if="!${invalidToken}" class="form-signin" id="passwordForm" role="form" action="#"
       th:object="${akun}" th:action="@{/confirm-dinas}" method="post">
		<hr />
        <h4>Set Your Password and Username</h4>
        <input type="hidden" name="token" th:value=${confirmationToken}  >
        
        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegistered}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegistered}"></div>


        <div class="form-group has feedback">
          <input name="username" type="text"  
            placeholder="Username" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group">
          <input name="password" type="password" id="password"  
            placeholder="Password" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group  has-feedback"> 
         <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"
                                       data-fv-notempty-message="Please confirm password"
                                       data-fv-identical="true"
                                       data-fv-identical-field="password"
                                       data-fv-identical-message="Both passwords must be identical" />
                   
          <div class="help-block with-errors"></div>
        </div>
        
		
        <button type="submit"
          class="btn btn-lg btn-primary btn-block">Save
        </button>

      </form>

     
    </div>
  </div>

  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  
  <script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
  
  <script th:src="@{js/fv.min.js}"></script>
  <script>
		$(document).ready(function() {
		    $('#passwordForm').formValidation({
		        framework: 'bootstrap',
		        icon: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        
		            password: {
		                validators: {
		                    notEmpty: {
		                        message: 'The password is required'
		                    },
		                    callback: {
		                        callback: function(value, validator, $field) {
		                            var password = $field.val();
		                            if (password == '') {
		                                return true;
		                            }

		                            var result  = zxcvbn(password),
		                                score   = result.score,
		                                message = result.feedback.warning || 'The password is weak';

		                            // Update the progress bar width and add alert class
		                            var $bar = $('#strengthBar');
		                            switch (score) {
		                                case 0:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '1%');
		                                    break;
		                                case 1:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '25%');
		                                    break;
		                                case 2:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '50%');
		                                    break;
		                                case 3:
		                                    $bar.attr('class', 'progress-bar progress-bar-warning')
		                                        .css('width', '75%');
		                                    break;
		                                case 4:
		                                    $bar.attr('class', 'progress-bar progress-bar-success')
		                                        .css('width', '100%');
		                                    break;
		                            }

		                            // We will treat the password as an invalid one if the score is less than 3
		                            if (score < 3) {
		                                return {
		                                    valid: false,
		                                    message: message
		                                }
		                            }

		                            return true;
		                        }
		                    }
		                }
		            }
		        }
		    });
		});
		</script>
	});
  </script>

</body>

</html>
