<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="utf-8">
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/forbidden.css}">
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    
    <title>Forbidden :(</title>
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    

    <body>
    
    <div class="unicorn"></div>
            
    <div class="container">
      
        <div class="four-oh-three"><h1>403 Error</h1></div>
              
        <div class="warning">            
            <h1>"Forbidden"</h1>
            <p>You don't have permission to access / on this URL</p>
            <a href="javascript:history.back()">Please go back to the previous page</a>
        </div>

        <div class="footer"><p class="copyright">&copy; Sistem Informasi Pariwisata Toba Samosir</p></div>        

    </div><!-- /.container -->                             
    </body>
</html>

