<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>User Registration with Spring Boot</title>

<!-- Bootstrap core CSS -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>

<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/index"><b>SIPARTOBA</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

      <form class="form-signin" utocomplete="off" action="#" th:action="@{/register}"
        th:object="${vendor}" method="post" class="m-t" role="form" data-toggle="validator">

        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegisteredMessage}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredMessage}"></div>
          
	      <div th:if="${successMessage}" class="alert alert-success"
	        role="alert" th:text=${successMessage}></div>
	
	      <div th:if="${errorMessage}" class="alert alert-danger"
	        role="alert" th:text=${errorMessage}></div>
                
        <div th:if="${alreadyRegistered}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegistered}"></div>   
    
        <div th:if="${#fields.hasErrors('nama_vendor')}"
          th:errors="*{nama_vendor}"
          class="validation-message alert alert-danger" role="alert"></div>
         
        <div th:if="${#fields.hasErrors('alamat')}"
          th:errors="*{alamat}"
          class="validation-message alert alert-danger" role="alert"></div>

          
        <div th:if="${#fields.hasErrors('telp')}"
          th:errors="*{telp}"
          class="validation-message alert alert-danger" role="alert"></div>
          
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>

		<!-- ##################### End Check ######################## -->
	
        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('nama_vendor')}"
            th:errors="*{nama_vendor}" class="validation-message"></label>
          
          <input type="text" name="nama_vendor"
            placeholder="Nama Vendor" class="form-control" required autofocus/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group has-feedback">
          <input type="email" name="email"
            placeholder="Email Address" class="form-control"
            data-error="This email address is invalid" required />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>

        </div>

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('telp')}"
            th:errors="*{telp}" class="validation-message"></label>
          
          <input type="text" th:field="*{telp}"
            placeholder="Telepon" class="form-control" required />
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
   

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('alamat')}"
            th:errors="*{alamat}" class="validation-message"></label>
          
          <input type="text" th:field="*{alamat}"
            placeholder="Alamat" class="form-control" required />
            <span class="glyphicon glyphicon-home form-control-feedback"></span>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div> 
        
        <div class="form-group">
          
          <input name="username" type="text"  
            placeholder="Username" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group">
          
          <input name="password" type="password" id="password"  
            placeholder="Password" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
                 

      <div class="row">

        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    <a href="/index" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- iCheck -->
<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>

  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>
