<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>User Registration with Spring Boot</title>

<!-- Bootstrap core CSS -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />

<link th:href="@{/css/signin.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

  <div class="container">
    <div>   
		
      <form class="form-signin"  th:action="@{/register-wisatawan}"
        th:object="${wisatawan}" method="post" data-toggle="validator">
      
      <hr />

      <h4>Registration</h4>

		<!-- ########################## Check Error #####################-->
		
        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegisteredMessage}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredMessage}"></div>
          
        <div th:if="${errorMessage}" class="alert alert-danger"
        role="alert" th:text=${errorMessage}></div>

        <div th:if="${alreadyRegistered}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegistered}"></div>
                    
		<div th:if="${successMessage}" class="alert alert-success"
        	role="alert" th:text=${successMessage}></div>

        <div th:if="${#fields.hasErrors('nama_wisatawan')}"
          th:errors="*{nama_wisatawan}"
          class="validation-message alert alert-danger" role="alert"></div>
         
        <div th:if="${#fields.hasErrors('alamat')}"
          th:errors="*{alamat}"
          class="validation-message alert alert-danger" role="alert"></div>
        
        <div th:if="${#fields.hasErrors('country')}"
          th:errors="*{country}"
          class="validation-message alert alert-danger" role="alert"></div>
          
        <div th:if="${#fields.hasErrors('telp')}"
          th:errors="*{telp}"
          class="validation-message alert alert-danger" role="alert"></div>
          
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>

		<!-- ##################### End Check ######################## -->
	
        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('nama_wisatawan')}"
            th:errors="*{nama_wisatawan}" class="validation-message"></label>
          
          <input type="text" name="nama_wisatawan"
            placeholder="Nama Wisatawan" class="form-control" required autofocus/>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group has-feedback">
          <input type="email" name="email"
            placeholder="Email Address" class="form-control"
            data-error="This email address is invalid" required/>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>

        </div>

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('telp')}"
            th:errors="*{telp}" class="validation-message"></label>
          
          <input type="text" th:field="*{telp}"
            placeholder="Telepon" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
   

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('alamat')}"
            th:errors="*{alamat}" class="validation-message"></label>
          
          <input type="text" th:field="*{alamat}"
            placeholder="Alamat" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('country')}"
            th:errors="*{country}" class="validation-message"></label>
            	<label>Jenis Wisatawan</label> <br/>
	            <input type="radio" value="Dalam Negeri" th:field="*{country}"> Dalam Negeri           
	            <input type="radio" value="Luar Negeri" th:field="*{country}"> Luar Negeri
         </div> 

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('gender')}"
            th:errors="*{gender}" class="validation-message"></label>
            	<label>Jenis Kelamin</label> <br/>
	            <input type="radio" value="Laki-laki" th:field="*{gender}"> Laki-laki           
	            <input type="radio" value="Perempuan" th:field="*{gender}"> Perempuan
         </div>
         
         
        <div class="form-group has feedback">
          <input name="username" type="text"  
            placeholder="Username" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
        
        <div class="form-group has-feedback" id="passwordForm">
          <input name="password" type="password" id="password"  
            placeholder="Password" class="form-control" required />
          <span class="glyphicon"
            aria-hidden="true"></span>
        </div>
        
            

        <button type="submit"
          class="btn btn-lg btn-primary btn-block">Register</button> <p>Sudah punya akun? <a href="/login">Login</a></p>

      </form>
       <p class="m-t">
      
      </p>
    </div>
  </div>


  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

 
</body>

  <script>
		$(document).ready(function() {
		    $('#passwordForm').formValidation({
		        framework: 'bootstrap',
		        icon: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        
		            password: {
		                validators: {
		                    notEmpty: {
		                        message: 'The password is required'
		                    },
		                    callback: {
		                        callback: function(value, validator, $field) {
		                            var password = $field.val();
		                            if (password == '') {
		                                return true;
		                            }

		                            var result  = zxcvbn(password),
		                                score   = result.score,
		                                message = result.feedback.warning || 'The password is weak';

		                            // Update the progress bar width and add alert class
		                            var $bar = $('#strengthBar');
		                         
		                            // We will treat the password as an invalid one if the score is less than 3
		                            if (score < 3) {
		                                return {
		                                    valid: false,
		                                    message: message
		                                }
		                            }

		                            return true;
		                        }
		                    }
		                }
		            }
		        }
		    });
		});
		</script>

</html>
