<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>User Registration with Spring Boot</title>

<!-- Bootstrap core CSS -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />

<link th:href="@{css/signin.css}" rel="stylesheet" />
<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

  <div class="container">
    <div>   
		
      <form class="form-signin" th:action="@{/register-dinas}"
        th:object="${dinas}" method="post" data-toggle="validator">
      
      <hr />

      <h4>Registration</h4>

		<!-- ########################## Check Error #####################-->
		
        <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${alreadyRegisteredMessage}"
          class="alert alert-danger" role="alert"
          th:text="${alreadyRegisteredMessage}"></div>


        <div th:if="${#fields.hasErrors('alamat')}"
          th:errors="*{alamat}"
          class="validation-message alert alert-danger" role="alert"></div>
        
       
        <div th:if="${#fields.hasErrors('telp')}"
          th:errors="*{telp}"
          class="validation-message alert alert-danger" role="alert"></div>
          
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>

		<!-- ##################### End Check ######################## -->
	
        
        <div class="form-group has-feedback">
          <input type="email" th:field="*{email}"
            placeholder="Email Address" class="form-control"
            data-error="This email address is invalid" required/>
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>

        </div>

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('telp')}"
            th:errors="*{telp}" class="validation-message"></label>
          
          <input type="text" th:field="*{telp}"
            placeholder="Telepon" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>
   

        <div class="form-group has-feedback">
          <label th:if="${#fields.hasErrors('alamat')}"
            th:errors="*{alamat}" class="validation-message"></label>
          
          <input type="text" th:field="*{alamat}"
            placeholder="Alamat" class="form-control" required />
          <span class="glyphicon form-control-feedback"
            aria-hidden="true"></span>
        </div>

        <button type="submit"
          class="btn btn-lg btn-primary btn-block">Register</button> <p>Sudah punya akun? <a href="/login">Login</a></p>

      </form>
       <p class="m-t">
      
      </p>
    </div>
  </div>


  <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

 
</body>

</html>
