	<!DOCTYPE html>
	<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>SiparToba</title>

		<style>
		.alert {
		    padding: 20px;
		    background-color: #f44336;
		    color: white;
		}
		
		.closebtn {
		    margin-left: 15px;
		    color: white;
		    font-weight: bold;
		    float: right;
		    font-size: 22px;
		    line-height: 20px;
		    cursor: pointer;
		    transition: 0.3s;
		}
		
		.closebtn:hover {
		    color: black;
		}
		</style>
				
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/css/wisatawan/css/linearicons.css">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/font-awesome.min.css}">
			<link rel="stylesheet" href="/css/wisatawan/css/bootstrap.css">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/magnific-popup.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/jquery-ui.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/nice-select.css}">							
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/animate.min.css}">
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/owl.carousel.css}">				
			<link rel="stylesheet" th:href="@{/css/wisatawan/css/main.css}">
			

			<!-- 
			JS	
			============================================= -->
			<script src="js/login/jQuery.js"></script>
			<script src="js/login/bootstrap.min.js"></script>
		</head>
		<body>	
			<header id="header">
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="/index"><img th:src="@{/css/wisatawan/img/sipartoba.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/index">Home</a></li>
				          <li><a href="about.html">About</a></li>
				          <li><a href="/view/daftar/wisata">Wisata</a></li>
				          <li><a href="" data-toggle="modal" data-target="#myModal">Login</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->

           <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  	<h4 class="modal-title" id="myModalLabel">Form Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form th:action="@{/index}" method="post" class="form-horizontal">
                
		              	<div class="form-group">
		                  <label for="nama" class="col-sm-2 control-label">username</label>
		                  <div class="col-sm-12">
		                  <input type="text" class="form-control" name="username" required ></div>
		            	</div>
			            <div class="form-group">
			                  <label for="nama" class="col-sm-2 control-label">password</label>
			                  <div class="col-sm-12">
			                  <input type="password" class="form-control" name="password" required ></div>
			                  
			            </div>                  
		                <div class="modal-footer">
		                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                   <button type="submit" name="s"class="btn btn-primary">LOGIN</button>
		                </div>
                    </form>
                </div>
              </div>
            </div>
            </div>
            <!-- Modal -->

			<!-- ====================================================================================== start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Wisata				
							</h1>	
							<p class="text-white link-nav"><a href="/index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/view/daftar/wisata"> Wisata</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	



<!-- ========================================================================================================= Section wisata -->			

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Popular Destinations</h1>
		                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
						<div class="col-lg-4" th:each="r:${wisata}">
							<div class="single-destinations">
								<div class="thumb">
									<img th:src="${'/images/gambar/'+r.gambar}" width="360" height="211">
								</div>
								<div class="details">
									<h4 th:text="${r.nama}"></h4>
									<p th:text="${r.alamat}"></p>
									
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Nama Pengelola</span>
											<span th:text="${r.nama_vendor}"></span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Nomor Telepon</span>
											<span th:text="${r.telp}"></span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<span>Kategori Wisata</span>
											<span th:text="${r.nama_kategori}"></span>
										</li>
										<li>
											<span></span>
											<span><a th:href=@{/view/detail-wisata(id=${r.id})}><span class="pull right">Mores...</span></a></span>
										</li>												
									</ul>
								</div>
							</div>
						</div><!--end-->
		            </div>
		         </div>
		     </section>       
<!-- ========================================================================================== END SECTION=============== -->
	
						
			<!-- ============================================================================================== start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between align-items-center">
						<p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Sipartoba <i class="fa fa-heart-o" aria-hidden="true"></i> PSI <a href="" target="_blank">11</a>

					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script th:src="@{/css/wisatawan/js/vendor/jquery-2.2.4.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/popper.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/vendor/bootstrap.min.js}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script th:src="@{/css/wisatawan/js/jquery-ui.js}"></script>					
  			<script th:src="@{/css/wisatawan/js/easing.min.js}"></script>			
			<script th:src="@{/css/wisatawan/js/hoverIntent.js}"></script>
			<script th:src="@{/css/wisatawan/js/superfish.min.js}"></script>	
			<script th:src="@{/css/wisatawan/js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/css/wisatawan/js/jquery.magnific-popup.min.js}"></script>						
			<script th:src="@{/css/wisatawan/js/jquery.nice-select.min.js}"></script>					
			<script th:src="@{/css/wisatawan/js/owl.carousel.min.js}"></script>							
			<script th:src="@{/css/wisatawan/js/mail-script.js}"></script>	
			<script th:src="@{/css/wisatawan/js/main.js}"></script>	
		</body>
	</html>