<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SIPAR-TOBA</title>
<link rel="stylesheet" th:href="@{css/login.css}" />
</head>
<body>
	<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
		<div>
			LOGIN TO, <br></br>
			<span class="red">Sipar-TOBA</span>
			<br></br>
		</div>
	</div>

	<div class="login" align="right">
		<form th:action="@{/masuk}" method="post">
			<input class="form-input" type="text" placeholder="username" name="username" /><br></br> <input class="form-input"
				type="password" placeholder="password" name="password" /><br></br>
			<div th:switch="${loginMessage}">
				<p th:case="error" style="color: red; font-size: 1em;">Wrong
					Account</p>
			</div>
			<input class="btn-outline right"  type="submit" /> 
			<br></br>
			<br></br>
			<Label class="label-or">Belum punya Akun ?</Label><span><a href="/register" class="register_a" >Join Us</a></span>
			<br></br>
		</form>
	</div>

</body>

</html>